body {
    margin: 0;
    background-color: #3E4152;
}

header {
    background-color: #13AF90;
    color: #F5EBF3;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.nav-link {
    color: #F5EBF3;
    margin-left: 2px;
    margin-bottom: 4px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    box-shadow: -2px -2px 26px rgba(0,0,0,0.1);
    cursor: pointer;
}

.site-header {
    color: #F5EBF3;
    text-decoration: none;
}

.site-header:hover, .nav-link:hover {
    color: #A5EBF3;
}

.main-container {
    /* background-color: #31333C; */
    color: #F5EBF3;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px -4px 40px rgba(0,0,0,0.1);
}

.workout {
    background-color: #13AF90;
    color: #F5EBF3;
    border-radius: 5px;
    box-shadow: -6px -8px 24px rgba(0,0,0,0.2);
    /* border: 1px solid #7C7A63; */
    /* padding: 20px; */
}

.workout:not(:last-of-type) {
    margin-bottom: 20px;
}

.workout > h4 {
    margin-left: 10px;
    margin-bottom: 0px;
}

.workout > h4 > small {
    opacity: 0.4;
    margin-left: 40px;
    font-size: inherit;
}

.exercise-list {
    border-radius: 0px 0px 5px 5px;
    text-transform: capitalize;
    background-color: #31333C;
    color: #F5EBF3;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    align-items: stretch;
    justify-content: stretch;
}

.exercise {
    /* margin-left: 20px; */
    margin-bottom: 0px;
}

.exercise:not(:last-of-type) {
    border-right: none;
    border-bottom: 1px solid #F5EBF3;
}

@media(min-width: 550px) {
    .exercise:not(:last-of-type) {
        border-right: 1px solid #F5EBF3;
        border-bottom: none;
    }

    .exercise-list {
        display: flex;
    }

    .exercise {
        margin-left: 20px;
    }
}

.exercise:hover {
    opacity: 0.6;
}

.set-list {
    list-style: none;
    margin: 0px 2px;
}

.pagination {
    display: flex;
    justify-content: center;
    border: 1px solid #F5EBF3;
    align-items: stretch;
    width: min-content;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.pagination-button {
    color: white;
    background-color: none;
    border: none;
    border-radius: 0px;
    width: 30px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.pagination-button.active {
    background-color: #13AF90;
}

.pagination-button:hover {
    opacity: 0.8;
    color: white;
}

#new-workout-container input {
    margin-bottom: 2px;
}

.input-sm {
    width: 80px;
}

.text-dimmed {
    opacity: 0.4;
    font-size: smaller;
}

.previous-exercise {
    opacity: 0.4;
    font-weight: bold;
}

.previous-exercise span {
    text-align: center;
}

.previous-set-weight, .previous-set-reps {
    display: inline-block;
    width: 80px;
}

input[disabled] {
    opacity: 0.4;
}

.exercise-row label {
    display: inline-block;
}

input {
    font-size: 16px;
}

select {
    font-size: 16px;
}

.button-secondary {
    color: #FFF;
    background-color: #444;
    border-color: #444;
}

.button-secondary:hover, .button-secondary:focus {
    color: #FFF;
    background-color: #3D3D3D;
    border-color: #3D3D3D;
}

.button-warn {
    color: #FFF;
    background-color: #FF4423;
    border-color: #FF4423;
}

.button-warn:hover, .button-warn:focus {
    color: #FFF;
    background-color: #E94224;
    border-color: #E94224;
}

.button-delete {
    margin-left: auto;
    height: 100%;
    border-radius: 0px 5px 0px 0px;
}

.workout-header {
    display: flex;
    padding-left: 10px;
}

.workout-header > * {
    margin-bottom: 0px;
}

#dimmer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
}

.confirm-delete-popup {
    padding: 100px;
    box-shadow: 4px 5px 30px rgba(0,0,0,0.3);
    background-color: #F5EBF3;
    border-radius: 10px;
}

.line {
    fill: none;
    stroke-width: 2px;
    clip-path: url(#clip);
}

circle {
    clip-path: url(#clip);
    stroke-width: 1;
    stroke: #fff;
}

.warning-header {
    font-size: 1.5rem;
    color: #E94224;
    margin-left: 10px;
}

#xAxis .tick line {
    opacity: 0.5;
}

#minorXAxis .tick line {
    opacity: 0.2;
}

#yAxis .tick line {
    opacity: 0.08;
}

#yAxis .tick:nth-child(even) line {
    opacity: 0.25;
}

#workout-data {
    height: 100px;
}

#copied-alert, #imported-alert, #imported-error-alert {
    opacity: 0;
}

#imported-error-alert {
    color: #E94224;
}

.fading-in {
    animation: fadein 0.2s ease-out forwards;
}

.fading-out {
    animation: fadeout 1.7s ease-in-out forwards;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
